annotated-types==0.7.0
audioop-lts==0.2.1
av==13.1.0
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
click-default-group==1.2.4
cloup==3.0.7
decorator==5.2.1
glcontext==3.0.0
idna==3.10
isosurfaces==0.1.2
jinja2==3.1.6
lxml==5.4.0
manim==0.19.0
manim-slides==5.5.1
manimpango==0.6.0
mapbox-earcut==1.0.3
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
networkx==3.5
numpy==2.2.6
packaging==25.0
pillow==11.2.1
pycairo==1.28.0
pydantic==2.11.5
pydantic-core==2.33.2
pydantic-extra-types==2.10.4
pydub==0.25.1
pyglet==2.1.6
pyglm==2.8.2
pygments==2.19.1
python-pptx==1.0.2
qtpy==2.4.3
requests==2.32.3
rich==14.0.0
rtoml==0.12.0
scipy==1.15.3
screeninfo==0.8.1
skia-pathops==0.8.0.post2
soupsieve==2.7
srt==3.5.3
svgelements==1.9.6
tqdm==4.67.1
typing-extensions==4.13.2
typing-inspection==0.4.1
urllib3==2.4.0
watchdog==6.0.0
xlsxwriter==3.2.3
ipython==9.0.2